:root {
    --white: white;
    --bordeau: #9e121b;
    --my-grey: #f3f3f3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-Font.ttf);
    font-family: Suisse;
    src: url(../fonts/SuisseIntl-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

hr {
    border: 1px solid black;
}

header {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 15px;
    color: black;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bordeau);
    overflow: hidden;
}

.home-img {
    margin-top: 5px;
    margin-left: 15px;
}

.links {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.icons i {
    color: var(--white);
    font-size: 20px;
    margin: auto 20px;
}

.drop-down {
    margin: 20px 25px;
}

.drop-btn {
    font-size: 16px;
    color: white;
    /* padding: 20px 25px; */
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* .mag-icon{
    float: right;
    overflow: hidden;
} */
.popdown {
    float: left;
    overflow: hidden;
}

.pop-btn {
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.popdown-cont {
    display: none;
    position: absolute;
    right: 18px;
    background-color: white;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.popdown-cont a {
    float: none;
    color: black;
    padding: 14px 16px;
    display: block;
    text-align: left;
}

.popdown-cont a:hover {
    background-color: var(--bordeau);
    color: white;
}

.popdown:hover .popdown-cont {
    display: block;
}

.icons {
    display: flex;
}

.cart-popdown-cont {
    width: 30%;
    height: 100vh;
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.cart-popdown:focus-within .cart-popdown-cont {
    display: block;
}

.cart-prod {
    display: flex;
    width: 100%;
    height: 20vh;
}

.cart-prod-img {
    width: 35%;
    height: 18vh;
    margin: 4px;
    background-color: lightcoral;
    border: 1px solid gray;
}

.cart-prod-title {
    margin: 20px 0;
}

.price {
    margin-right: 15%;
}

.del {
    display: block;
    margin-top: 25px;
    margin-left: 70%;
    color: rgb(207, 41, 41);
}

.divider {
    border: 1px solid gray;
    margin: 0 20px;
}

.cart-pay-section {
    position: absolute;
    bottom: 8vh;
    right: 0;
    left: 0;
}

.cart-pay-section a {
    padding: 18px 40px;
    margin-left: 37%;
}

.btn {
    padding: 10px 30px;
    background-color: var(--bordeau);
    color: var(--white);
    border: none;
}

.btn-margin {
    margin: 8px 10px;
}

.red:hover {
    color: var(--bordeau);
}

.carousel-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-top: 59px;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.buy-button {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.mySlides .description {
    text-align: center;
    margin-top: 10px;
}

.description header {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    bottom: 150px;
    left: 16px;
    width: 100%;
    color: var(--white);
}

.description p {
    font-size: 20px;
    padding: 10px 15px;
    position: absolute;
    bottom: 80px;
    left: 16px;
    width: 100%;
    color: var(--white);
}

.description button {
    position: absolute;
    bottom: 20px;
    left: 16px;
}

#title {
    margin: 8px;
}

.explore-products {
    display: flex;
    justify-content: center;
}

.product-card {
    width: 600px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    margin: 40px 20px;
    cursor: pointer;
}

.product-card-1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: transform .5s;
}

.product-card-bg-1 {
    background-image: url(../Images/Nizar/Keyboards/2.jpg);
}

.product-card-1:hover {
    transform: scale(1.1);
}


.product-card-bg-2 {
    background-image: url(../Images/Nizar/Keyboards/3.jpg);
}


.container-1 {
    position: relative;
    bottom: 250px;
    left: 120px;
}

.container-1 p {
    position: relative;
    bottom: 20px;
    right: 120px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
}

/* 
.shop {
    color: black;
    font-size: 18px;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px 14px;
    margin-right: 15px;
}

.shop:hover {
    background-color: var(--bordeau);
    color: var(--white);
    border: 1px solid var(--bordeau);
} */

.container-2 {
    position: relative;
    bottom: 250px;
    left: 120px;
}

.container-2 p {
    position: relative;
    bottom: 20px;
    right: 120px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
}


.shop-by-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 600px);
    column-gap: 20px;
    margin: 0 20px;
}

.first {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.category {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: transform .5s;
}

.category-bg-1 {
    background-image: url(../Images/Nizar/gaming_pc/1.jpg);
}

.category-type {
    color: black;
    position: absolute;
    margin-top: 15px;
    font-size: 20px;
}

.category-type:hover {
    text-decoration: underline;
}

.category:hover {
    transform: scale(1.1);
}


.category-bg-2 {
    background-image: url(../Images/Nizar/Headphones/1.jpg);
}

.category-2:hover {
    transform: scale(1.1);
}

.category-bg-3 {
    background-image: url(../Images/Nizar/Keyboards/1.jpg);
}

.category-3:hover {
    transform: scale(1.1);
}

.category-bg-4 {
    background-image: url(../Images/Nizar/Mobile/1.jpg);
}

.category-4:hover {
    transform: scale(1.1);
}

.category-bg-5 {
    background-image: url(../Images/Nizar/gaming_pc/3.jpg);
}

.category-5:hover {
    transform: scale(1.1);
}

.category-bg-6 {
    background-image: url(../Images/Nizar/gaming_pc/4.jpg);
}

.category-6:hover {
    transform: scale(1.1);
}

.reason {
    background-color: var(--my-grey);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 70px;

}

.reason header {
    color: black;
    text-align: center;
    font-size: 29px;
}

.why {
    display: flex;
    justify-content: space-around;
}

.reasons {
    width: 25%;
    float: left;
    margin-right: 50px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.setups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 20px 50px;
}

.parent-1 {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.setup-1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: transform .5s;
}

.bg-1 {
    background-image: url(../Images/Nizar/Natural_Gaming_with_Plants.jpeg);
}

.setup-1:hover {
    transform: scale(1.1);
}

.bg-2 {
    background-image: url(../Images/Nizar/home_workspace.jpeg);
}


.bg-3 {
    background-image: url(../Images/Nizar/Gaming_Room.jpeg);
}

.bg-4 {
    background-image: url(../Images/Nizar/Minimal_Desk_Setups.jpeg);
}


.view-more {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.red-bg {
    width: 100%;
    border: 1px solid var(--bordeau);
    background-color: var(--white);
}

.my-setups {
    margin: 20px 20px;
}

footer {
    background: lightgray;
    padding-top: 50px;
}

.container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li a {
    color: black;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--bordeau);
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: var(--bordeau);
    font-size: 25px;
}

.social-icons i:hover {
    color: var(--bordeau);
}

.bottom-bar {
    background: gray;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: var(--my-grey);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


#top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: var(--bordeau);
    color: var(--white);
    cursor: pointer;
    padding: 0.4%;
    border-radius: 50%;
    font-size: 18px;
}

#top-btn:hover {
    background-color: rgb(99, 99, 99);
}